body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    background-color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

}

a {
    text-decoration: none;
    color: inherit;
}

button,
.button-mobile {
    cursor: pointer;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header {
    padding-top: 16px;
    padding-bottom: 16px;
}

.container {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}


.nav-list,
.address {
    display: none;
}

.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 320px;
    padding: 0;
}

.logo {
    display: flex;
    align-items: center;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

}

.top-logo-end {
    color: #2e2f42;
}

.menu-open-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    stroke: #2f2f37;
    line-height: 0;
}

.section-one-mobile {
    background: #2E2F42;
    padding-top: 72px;
    height: 600px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(../images/dark-bg-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 320px;
    max-height: 432px;
    background-position: center;
    margin: 0 auto;
    margin-bottom: 96px;
}

@media only screen and (min-resolution: 192dpi) and (max-width: 767px) {
    .section-one-mobile {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/dark-bg-mobile@2x.jpg);
    }

}


.main-header {
    color: #FFF;
    text-align: center;
    font-style: normal;
    max-width: 216px;
    align-self: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    margin: 0 auto;
}

.button-mobile {
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    justify-content: center;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    align-self: center;
    margin: 0 auto;
    margin-top: 72px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.section-two-list-mobile {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.dscr-icon-block {
    display: none;
}

.list-header-mobile {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.description-mobile {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    max-width: 288px;
    margin: 0 auto;
}

.section-three-mobile {
    background: #F4F4FD;
    padding: 96px 28px;
    margin-top: 96px;

}

.container-sec-three {
    padding: 0;
}

.section-three-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
    font-weight: 700;
}

.section-three-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 72px;
}

.section-three-list-header-mobile {
    margin-top: 32px;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.section-three-parag {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.socials-networks {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 32px;
}

.section-four-mobile {
    background: #FFF;
    margin: 0 auto;
}


.container-sec-four {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 96px;
}

.header-sect-four-mobile {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-top: 96px;
    margin-bottom: 72px;
}

.app-info {
    padding: 0 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.section-four-list-mobile {
    display: flex;
    flex-direction: column;
    gap: 48px;
    max-width: 288px;
    justify-content: center;
}

.sect-four-list-item {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.sect-four-list-header {

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-top: 32px;
}

.sect-four-parag {

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-top: 8px;
    margin-bottom: 32px;
}

.overlay-text {
    display: none;
}

.footer {
    background-color: #2e2f42;
    margin: auto;
}

.container-footer {
    width: 288px;
    margin: 0 auto;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    align-items: center;

}

.logo-footer-mobile {
    text-align: center;
    margin-top: 96px;
    margin-bottom: 16px;
}

.footer-logo-end {
    color: #f4f4fd;
}

.footer-parag-mobile {

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
    margin-bottom: 72px;
}

.header-footer-social-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    text-align: center;
}

.socials-networks-footer-mobile {
    gap: 16px;
    margin-bottom: 72px;
}


.subscribe-mobile {
    text-align: center;
}

.subscribe-par {
    margin-bottom: 16px;

    font-weight: 500;
    font-style: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;

}

.suscribe-form {
    display: flex;
    flex-flow: column;
    justify-content: center;
}


.suscribe-email {
    width: 288px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
    margin-bottom: 16px;
}

.suscribe-email::placeholder {
    color: #ffffff;
}

.subscribe-btn {
    width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    margin: auto;
    margin-bottom: 96px;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color: #404BBF;
}

.subscribe-icon {
    margin-left: 16px;
    fill: #FFFFFF;
    top: 50%;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.backdrop {
    display: block;
}

/* MOBILE MENU STYLES */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    z-index: 99999999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms linear, visibiliti 250ms linear;
}

.section-three-list-item {
    margin: 0 auto;
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);

}




/* NAV MENU */

.is-open {
    opacity: 1;
    visibility: visible;
}

/* NAV MENU */




.mobile-menu-container {
    position: relative;
    padding-top: 72px;
}

.mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
}

.mobile-nav {
    margin-bottom: 168px;
    margin-left: 0;
    padding-left: 0;
}

.mobile-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-nav-list-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.mobile-nav-list-link-one {
    color: #404bbf;
}

.mobile-address-list {
    margin-bottom: 48px;
    margin-left: 0;
    padding-left: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contacts-one {
    color: #4d5ae5;
}

.mobile-socials-networks {
    display: flex;
    justify-content: left;
    gap: 40px;
    margin-top: 0px;
}

.socials-networks-list {
    width: 40px;
    height: 40px;
}

.socials-networks-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    margin-top: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-socials {
    fill: #f4f4fd;
}



.mobile-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 9999999;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modile-backdrop {
    display: block;
}


/* SUBSCRIPTION FORM */

.is-open {
    opacity: 1;
    pointer-events: auto;
}

/* SUBSCRIPTION FORM */



.mobile-modal {
    width: 288px;
    min-height: 623px;
    background-color: #FCFCFC;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 72px 24px 16px 16px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus,
.modal-close-btn-icon:focus,
.modal-close-btn-icon:hover {
    background-color: #404BBF;
    border: none;
    fill: #ffffff;
}

.review-form {
    width: 256px;
}

.review-form-desc {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.review-form-wraper {
    margin-bottom: 8px;
}

.review-form-input {
    background: transparent;
    outline: transparent;
    padding-left: 38px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 256px;
    height: 40px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.review-form-input:focus {
    border: 1px solid #4d5ae5;
    border-radius: 4px;
    border-color: #4d5ae5;
    outline: transparent;
}

.review-form-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.review-form-input-wraper {
    position: relative;
}

.review-form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input:focus+.review-form-icon {
    fill: #4D5AE5;
}

.review-form-masage {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    background-color: transparent;
    resize: none;
    padding: 8px 16px;
    color: rgba(46, 47, 66, 0.4);
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.review-form-masage::placeholder {
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.review-form-masage:focus {
    border: 1px solid #4d5ae5;
    border-radius: 4px;
    outline: transparent;
}

.review-form-wraper-comment {
    margin-bottom: 16px;
}

.privacy-policy {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.privacy-policy-link {
    line-height: 1.33333;
    text-decoration: underline;
    color: #4d5ae5;
}

.review-form-checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: flex;
    justify-content: space-between;
}

.review-form-privacy-checbox:checked+.review-form-checkbox-label .review-form-own-checkbox {
    width: 16px;
    height: 16px;
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.review-form-privacy-checbox:focus+.review-form-checkbox-label .review-form-own-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    outline: 1px solid rgba(46, 47, 66, 0.4);
}

.review-form-own-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    cursor: pointer;
    fill: transparent;
    margin: 8px;
    margin-left: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-own-checbox-icon {
    top: 50%;
}

.review-form-checkbox-wraper {
    margin-bottom: 24px;
}

.review-form-submit-button {
    display: block;
    margin: auto;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    color: #ffffff;
    cursor: pointer;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.review-form-submit-button:hover,
.review-form-submit-button:focus {
    background-color: #404BBF;
}

/* TABLET */

@media only screen and (min-width: 768px) {
    .container {
        max-width: 767px;
    }

    .menu-open-btn {
        display: none;
    }

    .header {
        padding-bottom: 0;
        padding-top: 0;

    }

    .page-header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }

    .nav {
        display: flex;
        align-items: center;

    }

    .nav-list {
        display: flex;
        gap: 40px;
        justify-content: center;
        margin-left: 120px;
    }

    .nav-list-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
        display: block;
    }

    .nav-list-link-one {

        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: #404bbf;
    }

    .nav-list-link-one::after {
        display: block;
        width: 100%;
        height: 4px;
        background-color: #404BBF;
        content: "";
        margin-top: 20px;
        border-radius: 2px;
        left: 0;
        bottom: -1px;
        position: absolute;
    }

    .address {
        display: flex;
        font-style: normal;

    }


    .address-list {
        display: flex;
        flex-direction: column;

    }

    .contacts {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16667;
        letter-spacing: 0.04em;
    }


    /* TABLET */
    /* SECTION ONE TABLET */

    .section-one-mobile {
        min-height: 436px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/dark-bg-tablet.jpg);
        max-width: 768px;
        padding-top: 112px;
        margin-bottom: 96px;
    }

    @media only screen and (min-resolution: 192dpi) and (min-width: 768px) {
        .section-one-mobile {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)), url(../images/dark-bg-tablet@2x.jpg);
        }

    }

    .main-header {
        font-size: 56px;
        line-height: 1.07143;
        max-width: 496px;
    }

    .button-mobile {
        margin-top: 36px;
    }

    /* SECTION TWO TABLET */

    .container-sec-two {
        margin: auto;
        padding: 0;
    }

    .section-two-mobile {

        margin: auto;
        padding: 0;
    }

    .section-two-list-mobile {
        flex-flow: row;
        flex-wrap: wrap;
        max-width: 736px;
        row-gap: 72px;
        column-gap: 24px;
        max-height: 356px;
        margin: auto;
    }

    .section-two-list-item {
        max-width: 356px;
    }

    .list-header-mobile {
        text-align: left;
    }

    .description-mobile {
        max-width: 356px;
    }

    /* SECTION THREE TABLET */


    .section-three-list {
        flex-wrap: wrap;
        flex-direction: row;
        row-gap: 64px;
        column-gap: 24px;
    }

    .section-three-list-item {
        margin: 0;
    }



    /* SECTION FOUR TABLET */


    .section-four-list-mobile {
        flex-wrap: wrap;
        flex-direction: row;
        row-gap: 72px;
        column-gap: 24px;
        max-width: 1157px;
        margin: auto;
        margin-bottom: 96px;
    }

    .sect-four-list-item {
        margin: 0;
    }

    .container-sec-four {
        margin: auto;
        padding: 0;
    }

    /* FOOTER TABLET */


    .footer-content {
        flex-wrap: wrap;
        flex-direction: row;
        padding: 0;
        justify-content: left;
    }

    .container-footer {
        margin-left: 108px;
        margin-right: 24px;

    }

    .logo-footer-mobile {
        text-align: left;
    }

    .footer-social-media {
        margin-top: 96px;
        margin-bottom: 104px;
        height: 80px;
    }

    .subscribe-mobile {
        margin-left: 108px;
        margin-bottom: 96px;
    }

    .suscribe-form {
        flex-flow: row;
        gap: 24px;
        max-width: 768px;
        padding: 0;
    }

    .subscribe-par {
        text-align: left;
    }

    .subscribe-btn,
    .suscribe-email {
        margin: 0;
    }

    .header-footer-social-media {
        text-align: left;
    }


    /* MODAL TABLET / DESKTOP */

    .mobile-modal {
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
    }

    .review-form {
        width: 360px;
    }

    .review-form-input {
        width: 360px;
    }

    .review-form-checkbox-label {
        margin-top: 0;
        justify-content: left;
    }

    .review-form-own-checkbox {
        margin-top: 0;

    }

}


/* DESKTOP */


@media only screen and (min-width: 1158px) {
    .container {
        min-width: 1158px;
    }

    .section-one-mobile {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/dack-bg-dt.jpg);
        max-height: 600px;
        max-width: 1440px;
        padding-top: 188px;
        margin-bottom: 124px;

    }

    @media only screen and (min-resolution: 192dpi) and (min-width: 1158px) {
        .section-one-mobile {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)), url(../images/dack-bg-dt@2x.jpg);

        }

    }

    .button-mobile {
        margin-top: 48px;
    }

    .address-list {
        flex-direction: row;
        gap: 40px;
    }

    /* SECTION TWO DESKTOP */

    .section-two-list-item {
        max-width: 264px;
    }

    .section-two-list-mobile {
        min-width: 1128px;
        gap: 24px;
        max-height: 224px;
        margin: auto;
        justify-content: space-between;
    }

    .list-header-mobile {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .description-mobile {
        font-weight: 400;
    }

    .dscr-icon-block {
        display: flex;
        background-color: #f4f4fd;
        justify-content: center;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        height: 112px;
        margin-bottom: 8px;
        align-items: center;
    }

    /* SECTION THREE DESKTOP */

    .section-three-mobile {

        padding-top: 120px;
        padding-bottom: 120px;
        padding-left: 0;
        padding-right: 0;
        margin: 0 auto;
        margin-top: 120px;
    }

    /* SECTION FOUR DESKTOP */

    .header-sect-four-mobile {
        margin-top: 120px;
    }

    .section-four-list-mobile {
        row-gap: 48px;
        margin-bottom: 120px;
    }

    .overlay-parent-sec-four {
        position: relative;
    }

    .overlay-text {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        color: #f4f4fd;
        background-color: #4d5ae5;
        width: 100%;
        height: 100%;
        text-align: left;
        letter-spacing: 0.02em;
        padding: 40px 32px;
        /* transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
            transform: translateY(100%); */
        padding-top: 40px;
        padding-right: 32px;
        padding-left: 32px;
    }

    /* FOOTER DESKTOP */

    .footer-content {
        display: flex;
        flex-flow: row;
        margin: 0 auto;
        padding-top: 100px;
        padding-bottom: 100px;
        align-items: baseline;
        max-width: 312px;
        justify-content: center;

    }

    .container-footer {
        margin: 0;
        margin-right: 120px;
    }

    .logo-footer-mobile {
        margin-top: 0;
    }

    .footer-parag-mobile {
        margin: 0;
    }

    .footer-social-media {
        margin: 0;
        margin-right: 80px;
    }

    .subscribe-mobile {
        margin: 0;
    }

    .socials-networks-footer-mobile {
        margin: 0;
    }

}